.idyll-step:first-of-type {
  margin-top: 0;
}

.parametric-header-image img {
  left: 5px;
}

.parametric-long-title {
  font-size: 56px;
}

.faded {
  opacity: 0;
  transition: opacity 1s;
}

.active {
  transition: opacity 1s;
  transition-delay: 1s;
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}
