.idyll-step:first-of-type {
  margin-top: 0;
}

.parametric-header-image img {
  left: 5px;
}

.parametric-long-title {
  font-size: 56px;
}

.faded {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

.active {
  transition: opacity 1s;
  transition-delay: 1s;
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.collapsible {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 0.8em;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.collapsible.open:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

.headline {
  display: inline;
}

path {
  stroke: #c5c5c5;
  stroke-width: 0.5;
  fill: none;
  stroke-linejoin: round;
  shape-rendering: crispEdges;
}

.axis line {
  display: none;
}

.axis path {
  fill: none;
  stroke: #7e7e7e;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

.map-interactive {
  font-family: 'Graphik Web';
  font-weight: bold;
  background: #222222;
  color: #ffffff;
  margin: 2em 0;
}
.map-interactive text {
  fill: #c5c5c5;
}
.map-interactive-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.map-interactive-content {
  display: flex;
  flex-direction: row;
}

.map-interactive-timeline svg {
  width: 100%;
  display: block;
}

.map-container {
  width: 50%;
}
.headline-container {
  width: 50%;
  background: #ffffff;
  color: #222222;
  padding: 1em;
}

.headline-title {
  font-family: 'Graphik Web';
  font-weight: bold;
  line-height: 1.33;
  font-size: 24px;
  margin-bottom: 0.5;
  max-width: 400px;
}
.headline-paragraph {
  font-family: 'Graphik Web';
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
}
